:root {
  --font-primary: "Geist", sans-serif;
  --font-secondary: "Lora", serif;
  --color-extralight: #fff;
  --color-light: #f0eee6;
  --color-medium: #60584c;
  --color-bold: #2a2114;
  --color-error: #ff0000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);
  color: var(--color-bold);
  font-family: var(--font-primary);
}

h1,
h2,
h3 {
  font-family: var(--font-secondary);
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

p,
a,
input,
button,
label,
ul {
  font-size: 1.6rem;
  font-weight: 400;
}

input,
button {
  border: none;
  border-radius: 0.5rem;
  font-family: var(--font-primary);
  padding: 1rem 1.5rem;
  width: 100%;
}

input {
  background-color: var(--color-extralight);
  border: 1px solid var(--color-medium);
  color: var(--color-bold);
  margin-bottom: 0.5rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 0.5rem;
}

textarea {
  border: 1px solid gray;
  border-radius: 0.675rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: var(--font-primary);
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding: 2rem;
  resize: none;
  width: 100%;
}

::placeholder {
  color: #b7afa4;
}

button {
  background-color: var(--color-medium);
  color: var(--color-extralight);
  font-family: var(--font-secondary);
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

p {
  font-weight: 400;
  line-height: 2.8rem;
}

a {
  text-decoration: none;
}

li {
  font-weight: 400;
  list-style: none;
}

img {
  border-radius: 1rem;
  width: 100%;
}

hr {
  border: 0.75px solid #d7d2cc;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.success {
  color: green;
}

.error {
  color: red;
}

:disabled {
  opacity: 0.5rem;
}

.toggle-password-visibility-btn {
  background-color: inherit;
  color: var(--color-medium);
  font-family: var(--font-primary);
  font-size: 1.4rem;
  font-style: italic;
  width: fit-content;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1s;
}

:disabled {
  background-color: black;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.8rem;
  }
}
