.create-account-card {
  background-color: var(--color-extralight);
  border: 0.75px solid #aea598;
  border-radius: 1rem;
  display: grid;
  gap: 2rem;
  margin: 2rem auto auto auto;
  max-width: 50rem;
  padding: 4rem 2rem;
}

.create-account-form {
  display: grid;
  gap: 2rem;
}

.create-account-card-message {
  font-size: 1.4rem;
  font-style: italic;
  height: 1.6rem;
}

.create-account-email-header,
.create-account-password-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.create-account-form label {
  font-size: 1.6rem;
}

.create-account-email-input-message,
.create-account-password-input-message {
  font-size: 1.4rem;
  font-style: italic;
}

.create-account-form input {
  margin-top: 0.5rem;
}

.create-account-btn {
  border-radius: 2rem;
}

.link-to-login {
  font-size: 1.4rem;
}

.login-link {
  color: #b7afa4;
  font-weight: 600;
  text-decoration: underline;
}

.login-link:hover {
  cursor: pointer;
}
