.check-list-modal-container {
  align-items: center;
  background-color: var(--color-light);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.checkin-list-container {
  background-color: var(--color-light);
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  padding: 4rem 2rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3000;
}

.close-checkin-list-modal-btn {
  background-color: inherit;
  padding: 0;
  width: fit-content;
}

.checkin-list-container h2 {
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.no-checkins-message {
  font-style: italic;
  opacity: 0.5;
}

.check-ins-list {
  display: grid;
  gap: 3rem;
}

.check-in-list-item {
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-extralight);
  border: 1px solid #aea598;
  border-radius: 0.75rem;
  gap: 2rem;
  margin: auto;
  padding: 1.5rem;
  width: 100%;
}

.check-in-list-item-header {
  align-items: center;
  display: flex;
}

.check-in-list-item-feeling {
  margin-right: 1.25rem;
  width: 3rem;
}

.check-in-list-item-date {
  color: var(--color-medium);
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
}

.check-in-list-item-body {
  margin: auto;
  width: 100%;
}

.check-in-list-item-snippet {
  font-family: var(--font-secondary);
  text-align: start;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .checkin-list-container {
    padding: 4rem 10rem;
  }
  .check-in-list-item-snippet {
    font-family: var(--font-secondary);
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .checkin-list-container {
    padding: 4rem 20rem;
  }
}
