.check-list-modal-container {
  background-color: var(--color-light);
  left: 0;
  margin: auto;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
  padding: 2rem;
}

.checkin-list-container {
  background-color: var(--color-light);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
  padding: 2rem;
}

.close-checkin-list-modal-btn {
  background-color: inherit;
  padding: 0;
  width: fit-content;
}

.checkin-list-container h2 {
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.check-ins-list {
  display: grid;
  gap: 3rem;
}

.check-in-list-item {
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-extralight);
  border: 1px solid #aea598;
  border-radius: 0.75rem;
  gap: 2rem;
  margin: auto;
  padding: 1.25rem;
  width: 100%;
}

.view-more-btn {
  font-size: 1.8rem;
  margin: auto;
  margin-top: 2rem;
  max-width: 50rem;
  min-width: 25rem;
  padding: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .checkin-list-container {
    padding: 2rem 10rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .checkin-list-container {
    padding: 2rem 20rem;
  }
  .check-in-list-item {
    padding: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
