.check-in-list-item-header {
  align-items: center;
  display: flex;
}

.check-in-list-item-feeling {
  margin-right: 2rem;
  width: 3rem;
}

.check-in-list-item-date {
  color: var(--color-medium);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.check-in-list-item-snippet {
  font-family: var(--font-secondary);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .check-in-list-item {
    padding: 2rem;
  }

  .check-in-list-item-left {
    margin-right: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
