.checkin-form {
  display: grid;
  gap: 2rem;
}

.emotion-fieldset-message {
  font-size: 1.4rem;
  font-style: italic;
  height: 1.4rem;
}

.emotional-state-btns-container {
  margin: 3rem 0;
}

.current-feeling {
  margin-bottom: 2rem;
}

.checkin-form-btn {
  background-color: var(--color-bold);
  font-size: 1.8rem;
  margin: auto;
  max-width: 50rem;
  min-width: 25rem;
  padding: 1rem;
}

.length {
  color: var(--color-medium);
  font-style: italic;
  margin-top: 3rem;
  text-align: center;
}

.check-ins-list {
  display: grid;
  gap: 2rem;
}

.check-in-list-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--color-extralight);
  border: 1px solid #aea598;
  border-radius: 0.75rem;
  gap: 2rem;
  margin: auto;
  padding: 1.5rem;
  width: 90%;
}

.view-more-btn {
  font-size: 1.8rem;
  margin: auto;
  margin-top: 2rem;
  max-width: 50rem;
  min-width: 25rem;
  padding: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
