.default-check-in-list-item-buttons {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-top: 2rem;
}

.delete-btn,
.edit-btn {
  background-color: inherit;
  color: var(--color-medium);
  font-family: var(--font-primary);
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.5;
  padding: 0;
  text-transform: uppercase;
  width: fit-content;
}

.delete-btn:hover,
.edit-btn:hover {
  opacity: 0.25;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .check-in-list-item-left {
    margin-right: 2rem;
  }
}
