textarea.check-in-list-textarea {
  box-shadow: none;
  height: fit-content;
  font-family: var(--font-secondary);
  padding: 1.5rem;
  width: 100%;
}

.editing-check-in-list-item-buttons {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  justify-content: center;
}

.cancel-btn,
.update-btn {
  background-color: inherit;
  color: var(--color-medium);
  font-family: var(--font-primary);
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.5;
  padding: 0;
  text-transform: uppercase;
  width: fit-content;
}

.cancel-btn:hover,
.update-btn:hover {
  opacity: 0.25;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .check-in-list-item-left {
    margin-right: 2rem;
  }
}
