.emotional-state-btns-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.emotional-state-btn {
  align-items: center;
  background-color: inherit;
  display: flex;
  opacity: 0.375;
  padding: 0;
  width: 4rem;
}

.emotional-state-btn:hover {
  opacity: 1;
}

.emoji {
  width: 4rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .emotional-state-btns-container {
    margin: 3rem 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
