.emotional-state-btn {
  align-items: center;
  background-color: inherit;
  display: flex;
  opacity: 0.25;
  padding: 0;
  width: 4.125rem;
}

.emotional-state-btn.selected {
  opacity: 1;
}

.emoji {
  width: 4.125rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .emotional-state-btn {
    width: 5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .emotional-state-btn {
    width: 7.5rem;
  }
}
