.home-page-container {
  display: grid;
  gap: 1rem;
  padding-top: 0rem;
}

.log-out-btn-container {
  display: flex;
  justify-content: end;
}

.log-out-btn {
  background-color: inherit;
  padding: 0;
  width: fit-content;
}

.log-out-btn:hover {
  cursor: pointer;
}

.log-out {
  width: 2.4rem;
}

.current-date {
  color: var(--color-medium);
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.home-page-container h1 {
  text-align: center;
}

.emotional-state-btns-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.current-feeling {
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-style: italic;
  height: 2rem;
  font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .current-date {
    font-size: 1.6rem;
  }
  .current-feeling {
    font-size: 2.4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
